
  .a-0{
    color: rgb(0, 114, 134);
  }
  
  .a-2{
    color: rgb(0, 0, 0);
  }
  
  .a-3 {
    background-color: black;
  }
  
  .a-3-0 {
    color: aliceblue;
  }
  
  .a-3-1 {
    color: rgb(43, 255, 237);
  }
  
  .a-3-2 {
    color: rgb(181, 181, 181);
  }
  
  .a-4 {
    background-color: black;
  }
  
  .a-4-0{
    color: white;
  }
  
  .a-4-1 {
    color: rgb(43, 255, 237);
  }
  
  .a-4-3{
    color: rgb(181, 181, 181);
  }
  
  .img-1{
    color: rgb(255, 255, 255);
  }